.card {
  height: 325px;
  width: 325px;
}

.card > .img-container {
  height: 60%;
  background-color: #6CADDC;
  text-align: center;
  overflow: hidden;
}

.card > .img-container > img {
  width: 60%;
}

.card > .content {
  font-size: 15px;
  margin: auto;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px
}