<ul>
    {{#each wishes}}
    <li>{{wish}}</li>
    {{/each}}
</ul>

<form action="/" method="POST">
    <input name="make_wish" id="make-wish" type="text"></input>
    <button type="submit">Make a Wish</button>
</form>