<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Favorite Movies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/">Favorite Things</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="/foods">Foods</a>
                            <a class="nav-item nav-link active" href="/movies">Movies <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="/frameworks">CSS Frameworks</a>
                        </div>
                    </div>
                </nav>
            </div>


        </div>
        <div class="row">
            <div class="col card-deck">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5tExVOKvSUnu4huftmutFghoLqK-OW73uGu6pC8olPCXe48xO&s" class="card-img-top"
                        alt="matrix">
                    <div class="card-body">
                        <h5 class="card-title">Matrix</h5>
                        <p class="card-text">The Matrix is a 1999 science fiction action film written and directed by the Wachowskis.</p>
                        <a target="_blank" href="https://en.wikipedia.org/wiki/The_Matrix" class="btn btn-primary">More</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/M/MV5BYzVmYzVkMmUtOGRhMi00MTNmLThlMmUtZTljYjlkMjNkMjJkXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_UY1200_CR90,0,630,1200_AL_.jpg"
                        class="card-img-top" alt="ocean's eleven">
                    <div class="card-body">
                        <h5 class="card-title">Ocean's Eleven</h5>
                        <p class="card-text">Ocean's Eleven is a 2001 American heist film directed by Steven Soderbergh.</p>
                        <a target="_blank" href="https://en.wikipedia.org/wiki/Ocean%27s_Eleven" class="btn btn-primary">More</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/M/MV5BMjE0MzkwMDgwN15BMl5BanBnXkFtZTgwNDAyMjAwMjE@._V1_SY1000_CR0,0,1501,1000_AL_.jpg"
                        class="card-img-top" alt="italian job">
                    <div class="card-body">
                        <h5 class="card-title">Italian Job</h5>
                        <p class="card-text">The Italian Job is a 1969 British comedy caper film, written by Troy Kennedy Martin, produced by Michael Deeley and
                            directed by Peter Collinson.</p>
                        <a target="_blank" href="https://en.wikipedia.org/wiki/The_Italian_Job" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>