<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wishes</title>
    <style>
        .intro {
            text-align: center;
        }

        .intro ul {
            list-style: none;
        }
    </style>
</head>

<body>
    <div class="intro">
        <h1>Make a Wish</h1>
        <h3>Simple Full-stack App Leveraging:</h3>
        <ul>
            <li>Express Server</li>
            <li>MySQL</li>
            <li>Handlebars</li>
        </ul>
    </div>
    {{{body}}}
</body>


</html>