.header {
  background: #b71775;
  height: 200;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
}
